{{/*
  IsConfigLanguage
  Test if a given Resource is yaml, json or toml

  @author @regisphilibert

  @context Resource (.)

  @access private

  @returns Boolean

  @uses
     - partial

  @example - Go Template
    {{ with partialCached "IsConfigLanguage" context context }}
      {{ something = . }}
    {{ end }}
*/}}
{{ $test := false }}
{{/* Would rather use `.MediaType.SubType` but I find those are not always consistent across machines. */}}
{{ with path.Ext .Name }}
  {{ if eq (lower .) ".yml" ".yaml" ".json" ".toml" }}
    {{ $test = true }}
  {{ end }}
{{ end }}

{{ return $test }}